.header{
  width: 33vw;
  // height: 10vh;
  background-color: blue;
  color: white;
}

.messageInput{
  width: 70vw;
  height: 16vh;
  border-style: solid;
  border-color: grey;
  padding: 10px;
  margin: 1rem;
}
.buttonIcon {
  margin: -2.5em;
}
.but {
margin: 0 0 -2.5em
}
.MuiSvgIcon-root {

  font-size: 2rem !important

}
// html{ height:100%; }
// body{ min-height:100%; padding:0; margin:0; position:relative; }
// // header{ height:50px; background:lightcyan; }


// /* Trick: */
// body {
//   position: relative;
// }

// body::after {
//   content: '';
//   display: block;
//   height: 50px; /* Set same as footer's height */
// }

// footer {
//   position: fixed;
//   bottom: 0;
//   width: 100%;
//   height: 50px;
//   margin-bottom: -1px
// }
#grad1 {
  background-color:#f7f5f3;
  border-style: solid;
  border: 5px !important;
  border-color: lightgreen !important 

}
.header {
  background-color: transparent !important;
}

a {
  color: #faf8f6 !important
}
.iconColor {
  border-radius: 0px !important;
  color: #9c9996 !important;
  height: 6vh

}
.MuiButton-contained {
  color: darkblue !important;
  box-shadow: 0px !important;
  background-color: white !important;
}
.pad {
  padding: 1.5em;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.extendTitle{
  width: 100% !important;
  height: 4.5vh 
}
.bodyPad{
  padding: 0 .75em 0 .75em
}
.itemPad {
  padding-bottom: .5em
}
.headPad {
  padding-top: 1.5em !important
}