.header{
  width: 33vw;
  height: 10vh;
  background-color: blue;
  color: white;
}

.messageInput{
  width: 99vw;
  height: 20vh;
  border-style: solid;
  border-color: black
}
.buttonIcon {
  margin: -2.5em;
}
.but {
margin: 0 0 -2.5em
}
.MuiSvgIcon-root {

  font-size: 2rem !important

}
html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }
header{ height:50px; background:lightcyan; }


/* Trick: */
body {
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin-bottom: -1px
}
#grad1 {
  background-color:#f7f5f3;
  border-style: solid;
  border: 5px !important;
  border-color: lightgreen !important 

}
.header {
  height: 6vh
}

a {
  color: #faf8f6 !important
}
.iconColor {
  border-radius: 0px !important;
  color: #9c9996 !important;

}
.MuiButton-contained {
  color: darkblue !important;
  box-shadow: 0px !important;
  background-color: white !important;
}